$form-color: #202020;

.form{
    label{
        @include visually-hidden;
    }
    &__input {
        input, textarea{
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: $form-color; 
        width: 100%;
        display: block;
        border: none;
        box-shadow: none;
        resize: none;
        font-size: 20px;
        font-family: "Raleway";
        
        line-height: 1.4;
        text-align: left;
        padding: 16px 10px 16px 30px;
        box-sizing: border-box;

        &::placeholder{
        color: $white;opacity: 1;
        }
        }
        textarea{
            min-height: 200px;
        }
    }
}

